<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css" />
		<title>films populaires</title>
		
	</head>
	<body>
		<div id="demo">
		
			<h1 class="text-5xl font-extrabold dark:text-white text-center pb-10 pt-10">les meilleurs films de l'année </h1>

			<form v-on:submit="doSearch">
				<input type="text" v-model="search" placeholder="Rechercher un film ..." >
				<button type="submit">Rechercher</button>
			</form>

					<div class="grid gap-4 grid-cols-2 grid-rows-3">
						<div v-for="movie in movies">    
							<a href="#" class="flex flex-col items-center bg-white border rounded-lg shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
								<img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" :src="`https://www.themoviedb.org/t/p/w300_and_h450_bestv2${movie.poster_path}`" alt="">
								<div class="flex flex-col justify-between p-4 leading-normal">
									<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{movie.original_title}}</h5>
									<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{movie.overview}}</p>
								</div>
							</a>
							
					  </div>

					  <footer class="fixed bottom-0 left-0 z-20 p-4 w-full bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
						<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022
						</span>
						<ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
							<li>
								<a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
							</li>
							<li>
								<a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
							</li>
							<li>
					
			
		</div>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://unpkg.com/vue@3"></script>
		<script src="https://cdn.tailwindcss.com/%22%3E"></script>
			<script src="https://unpkg.com/flowbite@1.5.5/dist/flowbite.js%22%3E"></script>
		<script>
			const apiURL =
            "https://api.themoviedb.org/3/movie/popular?api_key=a8259c59f49d490bc078f6c196279508";
			const config = {
			};

			Vue.createApp({
				data() {
					return {
						search: "",
						movies: null 
					};
				},

				created: function () {
					 this.fetchDataAsync()
				},

				methods: {
					doSearch(e){
						e.preventDefault() 
						this.fetchDataAsync()
					},
					fetchDataAsync: async function () {
						try {

							if (this.search !== "")
							{
							   const apiURL1 = "https://api.themoviedb.org/3/search/movie?api_key=a8259c59f49d490bc078f6c196279508&query=" + this.search
							   const response = await axios.get(apiURL1 , config)
							   console.log(response.data)
							   this.movies = response.data.results
							} else{
							   const response = await axios.get(apiURL , config)
							   console.log(response.data)
							   this.movies = response.data.results
							}
							
					   } catch(error) {
					     console.log(error);
					   }
					 },
				
				},
			}).mount("#demo");

			tailwind.config = {
				theme: {
				  extend: {
					colors: {
					  clifford: '#da373d',
					}
				  }
				}
			  }
		</script>
	</body>
</html>
